<div class="page-about">
    <div class="about-banner"></div>
    <div class="about-img">
        <img src="../images/about/ban1.jpg"/>
    </div>
    <div id="about-db">
        <div class="about-wp wow fadeInDownBig">
            <h3 class="about-title text-center">上海互慧网络科技有限公司</h3>
            <div class="about-subhead">因为专注，所以专业 -- <em>Because the focus, so professional</em></div>
            <div class="about-txt">
                <p>上海互慧网络科技有限公司是上海专业的网站建设应用技术以及顾问服务提供商。我们一直坚持在为高端网站建设以
                    及网络营销而努力，我们的服务范围包括：网站建设、域名注册、企业邮箱、网站空间、软件程序开发、网络营销等
                    一条龙服务。
                </p>
                <p>随着经济全球化、信息网络化的出现，互慧网络一直遵循“诚信为本”的经营之道，坚持“服务传统行业，促进行业创新
                    发展：整合网络营销，提供专业咨询服务”， 坚持“客户至上，用心服务，依靠服务赢得客户”的服务理念，不断提高
                    专业水平和服务质量，塑造良好的服务品牌及企业形象，并将这一理念逐一付诸于实 际中的每一个细节。
                </p>
                <p>
                    目前互慧网络已为几千家本地客户提供服务，集政府、企业、门户解决方案之经验，运用更强的技术、更多的产品、
                    更广阔的市场，以客户为中心，提供全方位的网络服务。
                </p>
            </div>
        </div>
    </div>
    <div class="about-service ">
        <div class="about-service-wp container">
            <h3 class="text-center">OUR SERVICE</h3>
            <ul class="row">
                <li class="col-md-3 col-sm-6 col-xs-12 wow bounceInLeft" data-wow-duration="3000ms">
                    <h4>互动网站整合</h4>
                    <p>
                        互动网站整合是一种对各种营销工具和手段的系统化结合根据环境进行即时性的动态修正，以使交换双方在交互
                        中实现价值增值的营销理念与方法。
                    </p>
                    <a class="btn btn-warning">READ MORE</a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12 wow bounceInLeft" data-wow-duration="3000ms">
                    <h4>产品包装设计</h4>
                    <p>
                        产品包装设计即指选用合适的包装材料，针对产品本身的特性以及受众的喜好等相关因素，运用巧妙的工艺制
                        作手段，为产品进行的容器结构造型和包装的美化装饰设计。
                    </p>
                    <a class="btn btn-warning">READ MORE</a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12  wow bounceInRight" data-wow-duration="3000ms">
                    <h4>APP应用开发</h4>
                    <p>
                        APP是英文Application的简称，由于智能手机的流行，APP指智能手机的第三方应用程序。
                    </p>
                    <a class="btn btn-warning">READ MORE</a>
                </li>
                <li class="col-md-3 col-sm-6 col-xs-12  wow bounceInRight" data-wow-duration="3000ms">
                    <h4>品牌形象设计</h4>
                    <p>
                        品牌形象设计(Brand Image Design) 是指基于正确品牌定义下的符号沟通，它包括品牌解读及定义、品牌符号
                        化、品牌符号的导入和品牌符号沟通系统的管理及适应
                    </p>
                    <a class="btn btn-warning">READ MORE</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="about-num">
        <div class="about-num-wp container">
            <ul class="row">
                <li class="col-sm-4 col-xs-12">
                    <div class="num-title wow wobble" data-wow-duration="1000ms" data-wow-delay="600ms">0<em>1</em></div>
                    <div class="num-txt">
                        <h4>创新 Innovation.</h4>
                        <p>
                            我们通过研究理解用户的思维、行为、和目标，挖掘用户对产品使用的潜在需求，通过我们服务于各行业客
                            户的丰富经验，结合品牌的优势进行分析，让用户在情绪上、行为上感知产品的创新、感受完美的体验。
                        </p>
                    </div>
                </li>
                <li class="col-sm-4 col-xs-12">
                    <div class="num-title wow wobble" data-wow-delay="600ms">0<em>2</em></div>
                    <div class="num-txt">
                        <h4>激情 Passion.</h4>
                        <p>
                            我们是一只富有激情的创新团队。我们将设计通过情感的表达把用户和产品很自然的连接在一起，让用户
                            享受使用产品的愉悦，以此来强化对产品、品牌的体验认知！通过自然的交互和生动的设计展现出来，用一个充满情感化的设计打动用户！
                        </p>
                    </div>
                </li>
                <li class="col-sm-4 col-xs-12">
                    <div class="num-title wow wobble" data-wow-delay="600ms">0<em>3</em></div>
                    <div class="num-txt">
                        <h4>未来 Future</h4>
                        <p>
                            为客户提供品牌化、一站式的解决方案。服务涵盖了互联网，高端平台开化、桌面平台以及电子消费类产
                            品等。为客户提供从品牌设计、概念设计、交互设计、视觉设计、能研发到最终产品实现。为客户提供真正具有创新价值的产品体验。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="about-team ">
        <div class="team-wp">
            <h4>团队背景</h4>
            <p>互慧网络核心团队均有7年以上服务经验，领先业内水平，集销售、 策划、开发、售后于一体;</p>
            <h4>销售顾问</h4>
            <p>只要客户一个电话，我们专业的销售顾问会在第一时间提供上门服务;</p>
            <h4>项目策划</h4>
            <p>包括我公司商务顾问向客户了解需求，双方就网站建设内容进行协商、修改、补充、以达成共识，客户提交相关文本及图片资料。我方商务顾问根据商结果进行网站结构规划、内容编辑，撰写《网站建设方案》，提供网络系统硬件、 软件配置方案，整理相关技术资料和文字资料。</p>
            <h4>项目策划</h4>
            <p>项目经理根据每一个项目特点，组建设计师、网站编辑、 程序员、动画师、客服项目组，分析讨论项目的实施;</p>
            <h4>售后服务</h4>
            <p>我们为客户提供专业的网站操作培训及时解答客户后期的咨询；7*24小时保证客户网站正常运营.</p>
        </div>
    </div>
    <script src="../js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</div>
