
<div class="con-content">
    <div class="con-top"></div>
    <!--我们做什么-->
    <div class="con-mid">
        <div class="con-mid-do wow fadeInUp animated" style="animation-name: fadeInUp">
            <img src="../images/construct/20160902173617_7488.jpg" alt="">
            <div class="con-mid-til">我们做什么</div>
        </div>
        <div class="con-mid-txt wow fadeInUp animated" style="animation-name: fadeInUp">
            整案策划就是互慧网络给企业提供一整套的网络服务，各种不同的服务项目，
            根据企业客户的需求进行定制性的选择，
            互慧长期给您提供互联网服务，
            就相当于您企业公司的网络部，
            为您企业公司省去建立一个网络部的成本，
            由专业的互慧网络给您解决一切网络问题。
        </div>
        <div class="con-mid-img">
            <div class="con-img-wp">
                <div class="con-img-ibox1">
                    <img src="../images/construct/20160902173926_4786.png" alt="">
                </div>
                <div class="con-img-ibox">
                    <div class="con-img-box con-img-box1">
                        <img class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="1s"
                             style="animation-name: fadeInUp;animation-delay: 1s;animation-duration: 1s"
                             src="../images/construct/20160902173743_2927.png" alt="">
                    </div>
                    <div class="con-img-box con-img-box2">
                        <img class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="1.5s"
                             style="animation-name: fadeInUp;animation-delay: 1.5s;animation-duration: 1s"
                             src="../images/construct/20160902173821_1629.png" alt="">
                    </div>
                    <div class="con-img-box con-img-box3">
                        <img class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="2s"
                             style="animation-name: fadeInUp;animation-delay: 2s;animation-duration: 1s"
                             src="../images/construct/20160902173840_1340.png" alt="">
                    </div>
                    <div class="con-img-box con-img-box4">
                        <img class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="2.5s"
                             style="animation-name: fadeInUp;animation-delay: 2.5s;animation-duration: 1s"
                             src="../images/construct/20160902173852_9867.png" alt="">
                    </div>
                    <div class="con-img-box con-img-box5">
                        <img class="wow fadeInUp animated" data-wow-duration="1s" data-wow-delay="3s"
                             style="animation-name: fadeInUp;animation-delay: 3s;animation-duration: 1s"
                             src="../images/construct/20160902173911_8228.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="con-mid con-red wow fadeInUp animated" data-wow-delay="4s" data-wow-duration="1s" style="animation-name: fadeInUp;animation-delay: 4s;animation-duration: 1s">
        <div class="con-mid-do">
            <img src="../images/construct/20160831140156_0055.jpg" alt="">
            <div class="con-mid-til">我们的优势</div>
        </div>
        <div class="con-mid-txt">
            无论您的基础服务是基于互慧网络还是建立在多个供应商提供的服务基础上，都无关紧要。
            无论您在哪里，互慧的技术人员和服务团队都能帮助您提供IT技术服务支持。
            互慧了解您需求和问题，
            都尽最大努力满足，互慧致力于助您成功。
        </div>
        <div class="container con-mid-list" >
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 con-mid-list-a" >
                    <div>
                        <div>
                            <img src="../images/construct/20160831140248_5335.jpg" alt="">
                        </div>
                        <div>
                            <span>团结力量</span>
                            <p>
                                互慧不是一个人在为您服务，
                                互慧是整个团队在为您服务！
                                互慧针对每个企业会调配相应的团队组为您服务！
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6  con-mid-list-a" >
                    <div>
                        <div>
                            <img src="../images/construct/20160831140325_5956.jpg" alt="">
                        </div>
                        <div>
                            <span>技术支持</span>
                            <p>
                                互慧有着一个完善的技术团队,
                                不论是在基础硬件支持,网站架构,
                                信息安全等等,互慧都有着相对应的服务人员为您提供技术保障。
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-6  con-mid-list-a" >
                    <div>
                        <div>
                            <img src="../images/construct/20160831140248_5335.jpg" alt="">
                        </div>
                        <div>
                            <span>服务保障 </span>
                            <p>
                                互慧网络秉承"客户第一.服务为先"的服务理念，
                                以"为客户创造价值"为宗旨,
                                协助客户提高运营效益树立企业竞争优势。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 con-mid-list-a" >
                    <div>
                        <div>
                            <img src="../images/construct/20160831140248_5335.jpg" alt="">
                        </div>
                        <div>
                            <span>专业培训</span>
                            <p>
                                互慧将为成您企业量身定制专属课程,
                                培训师面对面地讲授
                                客服人员定期的跟进和辅导,保证您学好用好。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
